# Configuración para Azure Cognitive Search
SEARCH_SERVICE_ENDPOINT=
SEARCH_API_KEY=
INDEX_NAME=

# Configuración para OpenAI (ChatGPT)
OPENAI_API_KEY=

# Configuración para Azure OpenAI 
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
ENGINE_NAME=
# Modelo predeterminado
MODEL_NAME=